{% extends "base.html" %}

{% block content %}
<div class="centered">
    <h1>About</h1>
    <div class="big-text">
        <h3>Pygmy: Open-source, extensible & easy-to-use URL shortener</h3>
        <p>Pygmy is a feature-rich, easy-to-use, extensible and easy to deploy and host url shortener.
            The project's aim is to make URL shortener easy for anyone to deploy and extend.
            This project is not supposed to be an alternative of existing URL shorteners like bitly.
        </p>
        <h3>Major Features:</h3>
        <ul>
            <li>Custom URL</li>
            <li>Auto expiry URL</li>
            <li>Secret key protected URL</li>
            <li>User Login/Sign up</li>
            <li>User dashboard</li>
            <li>Link Analytics(add + to the tiny URL to get link stats)</li>
        </ul>
        <p>This is one of the most powerful and feature-rich open-source URL shortener available.
            The architecture is very loosely coupled which allows custom integrations very easily.</p>
        <h3>The project has 3 major parts:</h3>
        <ol>
            <li>The core program for URL shortening</li>
            <li>REST API on top. Uses the Flask framework.</li>
            <li>The UI layer for rendering the UI. It uses the Django framework.</li>
        </ol>
        Each part is independent of other part and it can function independently.
        The project is created keeping in mind that each of the parts can be used separately without any dependency on the other parts.
        <br><br>
        <p>
            Note that pygy.co is a demo website for the <a href="https://github.com/amitt001/pygmy">pygmy</a> project and should be used as such.
            While the website is going to be up for the foreseeable future, its future depends on the sponsorship and hosting that I get.
            Currently, the project is hosted on Digitalocean, as they were kind enough to offer me one year of sponsorship.
            I would like to keep the project website up and maintain the project but I do not make any money out of this project or website.
            If you would like to support the project, I can be contacted through the below links or contact page.
        </p>
    </div>
    <br>
</div>
<div class="vcenter big-text" style="font-size: 14px">
    <a href="https://twitter.com/amitt019" target="_blank">Twitter</a>&emsp;
    <a href="https://facebook.com/amit.the1" target="_blank" rel="nofollow">Facebook</a>
</div>
{% endblock content %}
