{% extends "base.html" %}

{% block content %}
<div style="margin-top: 14%">
<h1 class="horizontal-center">Contact</h1><br>
    <div class="horizontal-center big-text" style="font-size: 18px">
        Github: <a href="http://github.com/amitt001" target="_blank">amitt001</a><br><br>
    </div>
    <div class="horizontal-center big-text" style="font-size: 18px">
        Twitter: <a href="https://twitter.com/amitt019" target="_blank">amitt019</a><br><br>
    </div>
    <div class="horizontal-center big-text" style="font-size: 18px">
        Email: mail2amit19 at gmail
    </div>
</div>
{% endblock content %}
