{% extends "base.html" %}

{% block content %}
<div>
    <div class="vcenter big-text">
        Pygmy: An open-source URL shortener.<br><br>
        Written in Python using Flask and Django framework.<br>
        It uses SqlAlchmey as the ORM so any relational database that SqlAlchmey uses
        can be used. Tested with Postgresql and Sqlite.<br><br>
        The project as 3 parts:<br><br>
            &emsp;&emsp;1. The core program for URL shortening<br>
            &emsp;&emsp;2. REST API on top. Uses Flask framework.<br>
            &emsp;&emsp;3. The UI layer for rendering the UI. It uses Django framework.<br><br>
        The project is created keeping in mind that each of the part can be used separately
        without any dependecy on another part.
    </div>
    <br>
</div>
<div class="vcenter big-text">
    <a href="twitter.com/amitt0119">Twitter</a>&emsp;
    <a href="facebook.com/amit.the1">Facebook</a>
</div>
{% endblock content %}
