{% extends "base.html" %}

{% block content %}
<div class="centered">
    <h1>About</h1>
    <div class="big-text">
        <h3>Pygmy: An open-source, extensible & easy-to-use URL shortener</h3>
        <h3>Major Features:</h3>
        <ul>
            <li>Custom URL</li>
            <li>Auto expiry URL</li>
            <li>Secret key protected URL</li>
            <li>User Login/Sign up</li>
            <li>User dashboard</li>
            <li>Link Analytics(add + to the tiny URL to get link stats)</li>
        </ul>
        <p>This is one of the most powerful, feature-rich open-source URL shortener available.
            The architecture is very loosely coupled which allows custom integrations very easily.</p>
        <h3>The project as 3 major parts:</h3>
        <ol>
            <li>The core program for URL shortening</li>
            <li>REST API on top. Uses Flask framework.</li>
            <li>The UI layer for rendering the UI. It uses Django framework.</li>
        </ol>
        Each part is independent of other part and it can function independently.
        The project is created keeping in mind that each of the parts can be used separately
        without any dependency on other part.
    </div>
    <br>
</div>
<div class="vcenter big-text">
    <a href="https://twitter.com/amitt0119">Twitter</a>&emsp;
    <a href="https://facebook.com/amit.the1">Facebook</a>
</div>
{% endblock content %}
