{% extends "base.html" %}

{% block content %}
{% if form.errors or input_error %}
    <div id="errorBlock" class="text-center">
    <!--<h2>Invalid Input</h2>-->
        <!--<div style="font-size: 20px">Followig Errors Occurred</div><br><br>-->
        {% if form.errors %}
            {% for form_element in form %}
                {% if form_element.errors %}
                    <div class="error-text">
                        <strong>{{form_element.label}}</strong>:
                            {{form_element.errors.as_text|cut:"* " }}<br><br>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% else %}
    <h3>No Error Found.</h3>
    Go to <a href="/">homepage</a>
{% endif %}

{% endblock content %}